[submodule ".registry"]
	path = .registry
	url = https://github.com/brentkaplan/brentkaplan.r-universe.dev
	branch = HEAD
[submodule "beezdemand"]
	path = beezdemand
	url = https://github.com/brentkaplan/beezdemand
	branch = develop
[submodule "beezdiscounting"]
	path = beezdiscounting
	url = https://github.com/brentkaplan/beezdiscounting
	branch = develop
